.structure {
    -fx-fill: #483d8b;
}

.directory {
    -fx-fill: #000000;
}

.folder {
    -fx-fill: darkolivegreen;
}

.document {
    -fx-fill: red;
}

.name {
    -fx-fill: #808080;
}

.format {
    -fx-fill: orange;
}

.content {
    -fx-fill: #800080;
}

.name-and-format {
    -fx-fill: #ff6347;
}

.string {
    -fx-fill: #a0522d;
}
